.cities-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  text-align: center;
  margin-top: 50px;

  background: rgba(255, 255, 255, 0.57);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
  border: 1px solid rgba(255, 255, 255, 1);
}

.cities-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cities-container h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.cities-toVisit,
.visited-cities {
  margin-bottom: 30px;
}

.cities-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.city {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.city label {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.city input[type='checkbox'] {
  margin-left: 10px;
  cursor: pointer;
}
