#root {
  margin: 0 ;
  padding: 0;
  text-align: center;
}

.mainContainer {
  width: 100%;
  min-height: 100vh;
  padding-top: 25px;
  padding-bottom: 75px;
  background-image: url("https://images.unsplash.com/photo-1473163928189-364b2c4e1135?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;

}

.pageTitle {
  font-size: 56px;
  color: #fff;
}

